body {
    font-family: open sans;
}
button {
    border-radius: 5px;
}
.container {
    background-color: lightcyan;
    display: inline-block;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px 20px
}